body 
{
    background-color: rgb(59,59,59);
    font-family: sans-serif;
    width: 100%;
    align-content: center;
    padding: 0;
    margin: 0;
}
div.root {
    background-color: rgb(119,119,119);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
}
h2
{
    margin: 10px 10px 0px 0px;
    padding:0px 0px 0px 0px;
}
h2.free
{
    display: table;
    margin: 10px 10px 0px 10px;
    padding:0px 5px 0px 5px;
    color:rgb(60,60,60);
}
section
{
    display: table;
    /* max-width: 960px; */
    margin: 10px 10px 0px 10px;
    padding:0px 15px 0px 15px;
    color:rgb(60,60,60);
}
a:link 
{
    color: #1b52aa;
}
a:visited 
{
    color: #1b52aa;
}
a:active 
{
    color: #1b52aa;
} 
canvas
{
    image-rendering: crisp-edges;
}
div.colorpicker
{
    position: relative; 
    height: 300px; 
    width: 320px
}
svg.colorpicker
{
    position: absolute; 
    left: 0; 
    pointer-events: none;
}
canvas.colorpicker_square
{
    position: absolute;
    left: 10px;
    top: 10px;
}
canvas.colorpicker_slider
{
    position: absolute;
    left: 287px;
    top: 10px;
}
td
{
    padding: 0px 15px 0px 0px;
}
div.swatch
{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 256; /*64px;*/
    height: 256; /*64px;*/
    /* display: inline-block; */
}
label
{
    text-align: right;
    vertical-align: baseline;
    margin-left: 16px;
    font-weight: bold;
}
.output
{
    text-align: center;
    vertical-align: baseline;
    font-family: monospace;
    font-size: x-large;
}
input
{
    border: 1px solid rgba(0,0,0,0.333);
    border-radius: 0px;
    padding: 2px;
    text-align: right; 
    font-family: monospace;
    font-size: x-large;
    color:rgb(30,30,30);
    background-color: rgba(255,255,255,0.5);
}
/* Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.hex_input
{
    width: 6em;
    text-align: center;
}
.value_input
{
    width: 3em; 
}
input#rgbf_output {
    width: 12em;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item
{
    padding: 0px 10px 0px 0px;
}

@media (max-width: 800px) 
{
    .flex-container 
    {
        flex-direction: column;
    }
}

.input-row {
    display: flex;
    flex-direction: row;
    /* background-color:rgb(185,185,185); */
    padding: 4px;
    
}

.input-row > .spacer {
    /* background-color:rgb(199,199,199); */
    width: 32px;
}
